:root {
  --heading-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #069a8e;
  --second-color: #a1e3d8;
  --border: 1px solid var(--primary-color);
}
body {
  background: #069a8e !important;
}

nav {
  padding: 5px 50px;
  margin-top: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  line-height: 42px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--second-color) !important;
}

.top-contents {
  text-align: center;
  padding: 160px 20px;
  background: #a1e3d8;
}

.about-top-contents {
  text-align: center;
  padding: 80px 20px;
  background: #a1e3d8;
}

.work-top-contents {
  text-align: center;
  padding: 50px 20px;
  background: #a1e3d8;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 96px !important;
  line-height: 128px;
  font-family: var(--heading-font);
}
.hello {
  font-size: 36px;
  line-height: 54px;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: #272142;
}
h3 {
  font-size: 24px !important;
  font-family: var(--heading-font) !important;
  line-height: 36px;
  font-weight: bold !important;
}

a:hover {
  color: black !important;
  transition: ease-in-out;
}
.button {
  display: inline-block;
  margin-top: 30px;
  background: var(--primary-color);
  border-radius: 4px !important;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 27px;
  text-decoration: none;
}

.learn-more-button {
  display: inline-block;
  margin-top: 48px;
  padding: 15px 35px;
  border: 2px solid var(--second-color);
  border-radius: 4px !important;
  text-decoration: none;
  color: var(--second-color);
  text-align: center;
}

.launch-button {
  display: inline-block;
  padding: 15px 35px;
  border: none;
  border-radius: 4px !important;
  text-decoration: none;
  color: #000000;
  text-align: center;
  background: var(--second-color);
}

.launch-button:hover {
  color: #069a8e !important;
}

.featured-projects {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 40px;
  line-height: 28px;
  font-weight: normal !important;
}

h2,
.contact h1 {
  font-family: var(--heading-font);
  font-size: 64px !important;
  margin-top: 80px !important;
}

.contact h1 {
  margin: 0 !important;
  text-align: center;
}

.weather-h2 {
  margin-top: 0px !important;
}

p {
  font-family: var(--secondary-font) !important;
  font-size: 18px;
  font-weight: 450;
  line-height: 30px;
}

.section-border {
  border: 5px solid var(--second-color);
  padding: 10px 0px !important;
  border-radius: 5px;
}

video {
  border-radius: 4px;
}

.about p {
  padding: 20px 220px;
}
.about-section {
  background: var(--second-color);
}
.certificates {
  font-size: 22px !important;
}
h4 {
  font-size: var(--secondary-font) !important;
  font-size: 50px !important;
  line-height: 1.5;
  font-weight: bold !important;
}
.work-page {
  padding: 0 140px !important;
}
.work-description {
  margin-top: 100px !important;
}

.work-page img {
  border-radius: 10px !important;
}

.contact {
  padding: 80px 80px;
  background: var(--second-color);
}

.contact-form {
  max-width: 700px !important;
  border: 2px solid var(--primary-color);
  padding: 30px !important;
  margin-top: 50px;
}

.contact-details {
  margin: 0 60px;
}

footer {
  padding: 50px !important;
  text-align: center;
}

footer .contact-box {
  background: var(--second-color);
  opacity: 0.8;
  padding: 30px 120px;
  border-radius: 10px;
}
footer h4 {
  font-family: var(--heading-font);
  font-size: 48px;
}
.email-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

footer .email-link:hover {
  color: var(--second-color) !important;
}
footer .social-links a {
  font-size: 30px;
  margin: 0 20px;
  color: var(--second-color);
  padding: 10px 14px;
  border-radius: 50%;
}

footer .social-links a:hover {
  background: var(--second-color);
}

@media (max-width: 767.98px) {
  nav {
    padding: 10px 30px !important;
  }

  h1 {
    font-size: 54px !important;
  }
  h2 {
    font-size: 44px !important;
    text-align: center;
    margin-top: 30px !important;
  }
  h3 {
    font-size: 20px !important;
  }

  p {
    text-align: center;
  }
  body {
    padding-right: 0px;
  }
  .top-contents {
    padding: 50px 0px;
    margin-bottom: -20px !important;
  }
  .featured-projects {
    font-size: 30px;
    margin: -20px !important;
  }

  video {
    max-width: 350px;
  }
  .learn-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 130px;
  }

  footer .contact-box {
    padding: 30px 60px;
  }

  .about-top-contents {
    padding: 30px 20px;
  }
  .my-photo {
    margin-top: 15px !important;
  }
  .about p {
    padding: 0;
  }
  .shecodes {
    margin-top: 25px !important;
  }
}
