:root {
  --heading-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #069a8e;
  --second-color: #a1e3d8;
  --border: 1px solid var(--primary-color);
}
body {
  background: #069a8e !important;
}
.home-top-contents {
  text-align: center;
  padding: 160px 20px;
  background: #a1e3d8;
}
h1 {
  font-size: 96px !important;
  line-height: 128px;
  font-family: var(--heading-font);
}
.hello {
  font-size: 36px;
  line-height: 54px;
  font-family: var(--secondary-font);
  font-weight: bold;
  color: #272142;
}
h3 {
  font-size: 24px !important;
  font-family: var(--heading-font) !important;
  line-height: 36px;
  font-weight: bold !important;
}

a:hover {
  color: black !important;
  transition: ease-in-out;
}
.button {
  display: inline-block;
  margin-top: 30px;
  background: var(--primary-color);
  border-radius: 4px !important;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  line-height: 27px;
  text-decoration: none;
}

.learn-more-button {
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid var(--second-color);
  border-radius: 4px !important;
  text-decoration: none;
  color: var(--second-color);
  text-align: center;
}

.featured-projects {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 25px;
  line-height: 28px;
  font-weight: normal !important;
}

h2 {
  font-family: var(--heading-font);
  font-size: 64px !important;
  margin-top: 80px !important;
}

p {
  font-family: var(--secondary-font) !important;
  font-size: 18px;
  font-weight: 450;
  line-height: 30px;
}

.section-border {
  border: 5px solid var(--second-color);
  padding: 20px 0px;
  border-radius: 5px;
}

video {
  border-radius: 4px;
}
